<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="appointment">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="appointment-list">
      <ion-icon name="calendar-sharp"></ion-icon>
      <ion-label>Booked</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon name="people-circle"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
