<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Contact Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding contact-detail">
  <div class="ion-text-center">
    <img src="https://avatars3.githubusercontent.com/u/39523813?s=460&u=ebb0636636de5ae9273f79a6906b2ffe7fbd2a16&v=4" alt="Prince Raj">
    <br>
  
    <ion-button href="http://twitter.com/im_princeraj" fill="clear" size="small" color="twitter">
      <ion-icon name="logo-twitter" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button href="https://www.linkedin.com/in/iamprinceraj/" fill="clear" size="small" color="linkedin">
      <ion-icon name="logo-linkedin" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button href="https://www.instagram.com/im_princeraj/" fill="clear" size="small" color="instagram">
      <ion-icon name="logo-instagram" slot="icon-only"></ion-icon>
    </ion-button>
  </div>
  <div>
      <ion-list>
        <ion-list-header>
         <p>Follow me on Twitter</p>
        </ion-list-header>
        <ion-item color="twitter" margin>
          <ion-icon slot="start" name="logo-twitter"></ion-icon>
          <ion-label>@im_princeraj</ion-label>
        </ion-item>
      </ion-list>
            <ion-list>
              <ion-list-header>
                <p>Follow me on Linkedin</p>
              </ion-list-header>
              <ion-item color="linkedin" margin>
                <ion-icon slot="start" name="logo-linkedin"></ion-icon>
                <ion-label>@iamprinceraj</ion-label>
              </ion-item>
            </ion-list>
      <ion-list>
        <ion-list-header>
          <p>Follow me on Instagram</p>
        </ion-list-header>
        <ion-item color="instagram" margin>
          <ion-icon slot="start" name="logo-instagram"></ion-icon>
            <ion-label>@im_princeraj</ion-label>
        </ion-item>
      </ion-list>
  </div>
</ion-content>
